body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: black;
}
.emoji{
    position: relative;
    height: 120px;
    width: 120px;
    background-color: rgb(219, 216, 23);
    border-radius: 50%;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}
.face{
    position: absolute;
    animation: sad-face 2s ease-in infinite;
}
.eyebrows{
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: transparent;
    top: 35px;
    left: 57px;
    border-radius: 50%;
    box-shadow: -40px 9px 0 0 #000, -25px 0 0 0 #000, 25px 0 0 0 #000, 40px 9px 0 0 #000;
}
.eyebrows::after,
.eyebrows::before
{
    position: absolute;
    content: '';
    width: 30px;
    height: 20px;
    border: 6px solid transparent;
    box-sizing: border-box;
    top: 2px;
    left: -12px;
    border-radius: 50%;
    border-top-color: black;
}
.eyebrows::before
{
    margin-left: -30px;
    transform: rotate(-30deg);
}
.eyebrows::after
{
    margin-left: 30px;
    transform: rotate(30deg)
}
.eyes{
    position: absolute;
    width: 14px;
    height: 16px;
    left: 53px;
    top: 50px;
    border-radius: 50%;
    box-shadow: 25px 0 0 0 #000, -25px 0 0 0 #000;
}

.mouth {
        position: absolute;
        width: 60px;
        height: 80px;
        border: 6px solid transparent;
        box-sizing: border-box;
        border-radius: 50%;
        left: 30px;
        top: 80px;
        border-top-color: black;
        animation: sad-mouth 2s ease-in infinite;
}
.mouth::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    top: 3.5px;
    left: 21px;
    border-radius: 50%;
    box-shadow: -18px 0 0 0 #000, 18px 0 0 0 #000;
}
@keyframes sad-face
{
    25%, 35%{
        top: -15px;
    }
    55%, 95%{
        top: 18px;
    }
    100%, 0%{
        top: 0px;
    }
}
@keyframes sad-mouth
{
    25%, 35%{
        transform: scale(0.80);
        top: 70px;
    }
    55%, 100%, 0%{
        transform: scale(1);
        top: 80px;
    }
}
.eyes::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: #548dff;
    border-radius: 0 10px 10px 10px;
    transform-origin: 0% 0%;
    animation: tear-drop 2s ease-in infinite;
}
@keyframes tear-drop
{
    0%,100%{
        display: block;
        left: 32px;
        top: 15px;
        transform: rotate(45deg) scale(0);
    }
    25% {
        display: block;
        left: 32px;
        top: 15px;
        transform: rotate(45deg) scale(2);
        z-index: 1;
    }
    49.9%{
        display: block;
        left: 32px;
        top: 65px;
        transform: rotate(45deg) scale(0);
    }
    50%{
        display: block;
        left: -18px;
        top: 15px;
        transform: rotate(45deg) scale(0);
    }
    75%{
        display: block;
        left: -18px;
        transform: rotate(45deg) scale(2);
    }
    99.9%{
        display: block;
        left: -18px;
        top: 65px;
        transform: rotate(45deg) scale(0);
        z-index: 1;
    }
}
